@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    margin-top: 40px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 268px;
    height: 93px;
}

/*-------------------------------- Barre de recherche principale --------------------------------*/

.search {
    margin: 40px;
}

.search_input {
    position: relative;
}

#searchInput {
    width: 99%;
    height: 69px;
    border-radius: 5px;
    background: #e7e7e7;
    border: none;
    padding-left: 20px;
}

.fa-search {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2em;
    height: 32.06px;
}

/*-------------------------------- Bouton de recherche --------------------------------*/

.search_tag {
    margin-left: 40px;
    display: flex;
    gap: 20px;
}

.search_tag .btn {
    width: 150px;
    height: 69px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    cursor: pointer;
    color: #fff;
    justify-content: center;
    position: relative;
    font-weight: bold;
}

.search_tag .btn::after {
    content: '';
    background: url("/assets/chevron-down-solid.svg");
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    height: 100%;
    width: 16px;
    right: 15px;
    top: 25px;
}

.up {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}
.up .fa-chevron-up {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.input-search {
    display: flex;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 400px;
    z-index: 1;
    border-radius: 5px;
}

.list input {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    opacity: 0.5;
    padding-left: 20px;
    display: flex;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

#ing {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-width: 800px;
}

.ingredients {
    background-color: #3282F7;
}

.appareils {
    background-color: #68D9A4;
}

.ustensiles {
    background-color: #ED6454;
}

/*-------------------------------- Card des recettes --------------------------------*/

.recettesSection {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    margin: 40px;
    margin-right: 35px;
}

.cardRecipe {
    width: 30%;
    height: 364px;
    border-radius: 5px;
    background-color: #E7E7E7;
    overflow: hidden;
}

.imageCard {
    width: 100%;
    height: 178px;
    background-color: #C7BEBE;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.name {
    font-size: 18px;
}

.description {
    font-size: 12px;
    text-overflow: ellipsis;
}