@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    margin-top: 40px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 268px;
    height: 93px;
}

.search {
    text-align: center;
    margin: 20px;
}

.search_input {
    position: relative;
}

#searchInput {
    width: 95%;
    height: 69px;
    border-radius: 5px;
    padding-left: 20px;
    background: #e7e7e7;
    border: none;
}

.svg-inline--fa.fa-w-16 {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 32.06px;
    height: 32.06px;
}

.search_tag .btn {
    width: 170px;
    height: 69px;
    border: none;
    border-radius: 5px;
}

.ingredients {
    background-color: #3282F7;
    color: #fff;
    font-weight: bold;
}
.appareils {
    background-color: #68D9A4;
    color: #fff;
    font-weight: bold;
}
.ustensiles {
    background-color: #ED6454;
    color: #fff;
    font-weight: bold;
}